/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
nav {
    background-color: rgb(65, 64, 64);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.logo {
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Styling for "PDF" in the logo */
.logo .pdf {
    color: #e74c3c; 
}

/* Styling for "Dialogue" in the logo */
.logo .dialogue {
    color: #27ae60; 
    margin-left: 5px; 
}

/* Navbar right styles */
.navbar-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Vertically align items within the right-side navbar */
}

/* Navbar links styles */
.navbar-right ul li {
    font-size: 16px;
    margin-right: 30px; /* Reduce the margin for a more compact look */
}

/* Remove margin from the last navbar link */
.navbar-right ul li:last-child {
    margin-right: 0;
}

/* Navbar link styles */
.navbar-right ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px; 
    transition: color 0.3s ease, background-color 0.3s ease; 
}

/* Navbar link hover effect */
.navbar-right ul li a:hover {
    color: #e74c3c; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px; 
    cursor: pointer; 
}
